version: "3.9"

services:
  golang:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    container_name: golang_app
    volumes:
      - ./src:/workspace
    working_dir: /workspace
    command: sleep infinity
    ports:
      - "8080:8080"
    environment:
      - GO111MODULE=on
      - CGO_ENABLED=0
